
.magazine-title {
    margin-top: 50px;
    font-size: 50px;
}

.magazine-navigate {
    margin-top: 100px;
}

.sort-magazine {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}